In [59]:
# 1. Print the following string. Make sure you follow the format. If possible, write only 1 line of code.
print(f"{'I study at TGI.'}\n{'':<3}{'I study data science.'}\n{'':<6}{'I learn Python.'}\n{'':<6}{'I will learn Numpy and Pandas.'}\n{'I am studying AI103.'}")

I study at TGI.
   I study data science.
      I learn Python.
      I will learn Numpy and Pandas.
I am studying AI103.

In [60]:
# 2. Print your current Python version.
from platform import python_version
print(python_version())

3.7.13

In [61]:
# 3. Write a function that calculate the area of a rectangle given width and length. Then call this function.
def calculator(width,length):
    Area = width * length
    return Area

calculator(int(input("Enter the width : ")), int(input("Enter the length: ")))

Enter the width : 2
Enter the length: 3

6

In [62]:

# 4. Accept the user's first and last name. Then print the full name with space in between.
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print(first_name + " " +  last_name)

Enter your first name: sreylin
Enter your last name: chey
sreylin chey

In [63]:
# 5. Accept a floating number from user and display it with 2 decimal places.
num = float(input("Enter the float number : "))
Two_Deci_num  = "{:.2f}".format(num)
print(Two_Deci_num)

# Note : This code didn't work in my google colab that's why there is no output show below, but i suggest u to test this code using IDE( Vscode) because it's work in my VScode in my local computer.

In [64]:
# 6. We have 2 variables below. Use string.format() method to print "Hello. My name is James and I'm 15 years-old".
name = 'James'
age = 15
print(f"Hello. My name is {name} and I'm {age} years-old")

Hello. My name is James and I'm 15 years-old

In [76]:
# 7. Check 2 given files to see if they are empty or not.
# 1. Create an empty file named 'file1.txt'.<br>
# 2. Create a file named 'file2.txt' with some text in it.<br>
# 3. Then write code to check.

import os 
# first file
if (os.stat("file1.txt").st_size) == 0:
  print("File is empty")
else: 
  print("File is not empty")

# second file
if (os.stat("file2.txt").st_size) == 0:
  print("File is empty")
else: 
  print("File is not empty")

# Note: Since i use google colab, so i can't upload an empty file, it can be check only if the file if not empty

File is not empty
File is not empty

In [65]:
# 8. Accept a list of 3 float numbers as an input from the user. Then print each number with 2 decimal places in different lines.
float_list = []
new_float_list = []
for i in range(3):
  user_input = float(input("Enter any 3 float number :  "))
  float_list.append(user_input)
  Two_Deci_num  = "{:.2f}".format(user_input)
  new_float_list.append(Two_Deci_num)

print(new_float_list)

# Note : This code didn't work in my google colab that's why there is no output show below, but i suggest u to test this code using IDE( Vscode) because it's work in my VScode in my local computer.

In [66]:
# 9. Write a function to reverse a given integer number. Example : 12345 -> 54321
def reverse_fun(a):
  res = a[::-1]
  return res

a = input("Enter some integer number : ")
reverse_fun(a)

Enter some integer number : 123456

'654321'

In [67]:
# 10. Display Fibonacci series up to 20 terms
number_term = 20
counter = 0
num1, num2 = 0,1
while counter <= number_term:
  res = num1+num2 
  num1 = num2 
  num2 = res 
  counter += 1
  print(num1)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

In [68]:
# 11. Takes a list and returns a new list with unique elements of the first list.
list = ["1","1","1","2","3","2","5","4","6"]
list1 = set(list)
new_list = []
for i in list1:
  new_list.append(i)
print(new_list)

['1', '2', '5', '4', '6', '3']

In [69]:
# 12. Ceate a function to reverses a string only if it's length is a multiple of 4
def reverse_string(str):
    if len(str) % 4 == 0:
       return ''.join(reversed(str))
    return str

user_input = input("Enter the string: ")
print(reverse_string(user_input))

Enter the string: math
htam

In [70]:
# 13. Read data from an Excel file (not CSV file), display data, and write it into a CSV file. 
import pandas as pd
from google.colab import files
file = files.upload()

data = pd.read_csv("Mall_Customers.csv")
data.head()

Saving Mall_Customers.csv to Mall_Customers (1).csv

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [71]:
# 14. Write a function to generate a random and secured password.
import random 
import string 
def pw_generator(length):
  lower = string.ascii_lowercase
  upper = string.ascii_uppercase 
  number = string.digits
  s_char = string.punctuation 

  res = lower + upper + number + s_char 
  f_res = random.sample(res, length)
  
  my_pw = ''
  for pw in f_res:
    my_pw += pw
  return my_pw

length = int(input("Enter password length: "))
pw_generator(length)

Enter password length: 8

'Lw2\\/*R['